<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shop: </title>
</head>
<body>
  <h1><%= shop.name%></h1>
  <h3>Basic Info:</h3>
  <ul>
    <li>Your store id: <%= shop.id%></li>
    <li>Your store city: <%= shop.city%></li>
  </ul>
  <h3>Your Employees:</h3>
  <ul>
    <% employees.forEach(function (employee) { %>
      <li><%= employee.first_name %> <%= employee.last_name %></li>
    <% }) %>
  </ul>
  <h3>Your Donuts:</h3>
</body>
</html>
